<h2 id="title">Ember Spinner</h2>

Default<br>
{{ember-spinner}}
<div class="code">
  &#123;&#123;ember-spinner&#125;&#125;
</div>

Spinning Lines<br>
{{ember-spinner
  lines=11
  length=16
  radius=20
  width=8
  rotate=10
  speed="1.1"
  color="#3498DB"
}}

<div class="code">
  &#123;&#123;ember-spinner lines=11 length=16 radius=20 width=8 rotate=10 speed='1.1' color='#3498DB'&#125;&#125;
</div>

Fast orange balls<br>
{{ember-spinner
  lines=8
  radius=15
  length=0
  width=10
  rotate=0
  speed="3.4"
  color="orange"
}}
<div class="code">
  &#123;&#123;ember-spinner lines=12 radius=10 length=0 width=10 rotate=0 speed='3.4' color='orange'&#125;&#125;
</div>

Slow blue balls<br>
{{ember-spinner
  lines=30
  radius=10
  length=0
  width=10
  opacity=0
  trail=75
  color="blue"
}}
<div class="code">
  &#123;&#123;ember-spinner lines=30 radius=10 length=0 width=10 opacity=0 trail=75 color='blue'&#125;&#125;
</div>

<h3>Using a Config File</h3>

Using a config file called standard<br>
{{ember-spinner config="standard"}}

<div class="code">
  &#123;&#123;ember-spinner config='standard'&#125;&#125;
</div>

With a config file called small<br>
{{ember-spinner config="small"}}

<div class="code">
  &#123;&#123;ember-spinner config='small'&#125;&#125;
</div>
